@use "./colors" as c;
html{
    box-sizing: border-box;
    font-size: 100%;
}
*,*::before,*::after{
    box-sizing: inherit;
}
// boilerplate.scss

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
